body {
    width: 300px;
    height: 300px;
    margin: 0;
    font-family: 'Century Gothic', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.header {
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.team {
    color: black;
    text-decoration: none;
}

.team-link {
    color: blue;
    text-decoration: none;
}

.location-info {
    color: rgb(0, 0, 0);
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100% - 80px); /* Adjusted to leave space for footer */
    padding: 10px;
}

.footer {
    width: 100%;
    display: flex;
    padding: 5px;
    justify-content: space-between;
    background: #f1f1f1;
    border-top: 1px solid #ccc;
}

.footer-left {
    display: flex;
    gap: 5px;
}

.footer-right {
    display: flex;
    align-items: center;
}

.json-button {
    height: 40px;
    background: lightgrey;
    color: orange;
    font-weight: bold;
    margin-right: 5px;
}

.clear-button {
    color: red;
    background: lightgrey;
    width: 40px;
    height: 40px;
}

.json-button, .clear-button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 12px;
    cursor: pointer;
}