body {
    width: 700px;
    height: 800px;
    margin: 0;
    font-family: 'Century Gothic', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}

.team {
    color: black;
    text-decoration: none;
}

.team-link {
    font-style: italic;
    text-decoration: underline;
    color: blue;
    font-size: 12px;
}

.content {
    display:inline;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100% - 180px); /* Adjusted to leave space for footer */
}

.footer {
    width: 100%;
    display: flex;
    padding: 5px;
    margin-top: 5px;
    justify-content: space-between;
    background: #f1f1f1;
    border-top: 1px solid #ccc;
    align-items: center !important;
}

.footer-left {
    display: flex;
    gap: 5px;
}

.json-button {
    height: 55px; /* Aumentato per dare spazio al testo */
    background: lightgrey;
    color: green;
    font-weight: bold;
    margin-right: 5px;
    display: flex;
    flex-direction: column; /* Imposta la direzione verticale */
    align-items: center;
    justify-content: center;
    padding: 10px;
    box-sizing: border-box;
    font-size: 24px; /* Imposta la dimensione dell'icona */

}

.json-text {
    font-size: 9px; /* Dimensione del testo */
    margin-top: 5px; /* Spazio tra l'icona e il testo */
    text-align: center; /* Centra il testo sotto l'icona */
    color: green; /* Colore del testo */
}

.clear-button {
    color: red;
    background: lightgrey;
    height: 55px;
    font-weight: bold;
    margin-right: 5px;
    display: flex;
    flex-direction: column; /* Imposta la direzione verticale */
    align-items: center;
    justify-content: center;
    padding: 10px;
    box-sizing: border-box;
    font-size: 24px; /* Imposta la dimensione dell'icona */
}

.json-button, .clear-button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 12px;
    cursor: pointer;
}

.box {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 1px;
    text-align: center;
    background-color: #f9f9f9;
    margin-bottom: 3px;
    width: 280px;
}

.box img {
    max-width: 50px; /* Adjusted to fit the box properly */
    height: auto;
}

.box-description {
    font-size: 12px;
    color: #333;
}

.box-title {
    font-size: 13px;
    text-align: left;
    font-weight: bold;
    margin-top: 5px;
    margin-left: 5px;
}

.content-row {
    margin-bottom: 1px;
    display: flex;
    flex-wrap: nowrap; /* Prevent wrapping to the next line */
}

.box-container {
    padding: 0 5px; /* Adjusted spacing between boxes */
}

.header {
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative; /* Aggiungi questa linea se non è già presente */
}

.header-left {
    flex: 1; /* Occupare lo spazio disponibile a sinistra */
}

.header-right {
    display: flex;
    justify-content: center; /* Centra l'icona orizzontalmente */
    align-items: center; /* Centra l'icona verticalmente */
    gap: 10px; /* Spazio tra icona e testo */
    position: absolute; /* Assicura che sia posizionato in modo preciso */
    right: 50%; /* Sposta il div a sinistra del 50% della larghezza totale */
    transform: translateX(50%); /* Riporta il div al centro */
}

.team-icon {
    width: 100px; /* Regola la dimensione dell'icona come necessario */
    height: auto;
}

.location-info {
    display: flex;
    align-items: center;
    color: rgb(0, 0, 0);
}
.location-info i {
    margin-right: 5px; /* Spazio tra l'icona e il testo */
}

.footer-right {
    display: flex;
    align-items: center;
    padding-right: 10px;
}

.icons-container {
    display: flex;
    gap: 5px; /* Spazio tra le icone */
    padding-right: 10px;
}

.icon-item {
    text-align: center; /* Centro il testo e le icone */
}

.icon {
    width: 25px; /* Imposta la larghezza delle icone */
    height: auto; /* Mantiene la proporzione dell'altezza */
}

.icon-description {
    margin-top: 5px; /* Spazio tra l'icona e la descrizione */
    font-size: 9px; /* Dimensione del testo per la descrizione */
    color: #333; /* Colore del testo per la descrizione */
}

.intro-text {
    padding-right: 20px;
    padding-left: 20px;
    margin-bottom: 4px; /* Spazio tra il testo e i blocchi */
    text-align: center; /* Centra il testo */
}

.intro-text h2 {
    text-align: left;
    font-size: 8px; /* Dimensione del titolo */
    margin-bottom: 2px; /* Spazio sotto il titolo */
    color: blue;
    cursor: pointer;
    font-style: italic;
}

.intro-text p {
    font-size: 11px; /* Dimensione del testo descrittivo */
    color: #555; /* Colore del testo descrittivo */
}

.clearButton-text{
    font-size: 9px; /* Dimensione del testo */
    margin-top: 5px; /* Spazio tra l'icona e il testo */
    text-align: center; /* Centra il testo sotto l'icona */
    color: red; /* Colore del testo */
}